@model GlobalEventNepal.Domain.Entities.Event

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>
        @Html.Partial("~/Views/Admin/_EventList.cshtml")
        <div class="btn-group col-lg-4">
            <button class="btn btn-default col-lg-4" type="submit" value="Create">Create</button>
            <a class="btn btn-default col-lg-4"  href="~/Admin/">Cancel</a>
        </div>
    </fieldset>
}
