<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>

<title></title>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>