@model GlobalEventNepal.Domain.Entities.Event

<div class="leftText" id="EventSummary">
        <h4>@Model.EventName</h4>
        <p>@Model.Location</p>
        <p>@Model.Starts.Date</p>
        <hr class="featurette-divider">
    </div>